<!DOCTYPE html>
<html lang="en">
<form action="/" method="GET">
    <div id = "AutForm">
        <label> Username <input name="username" type="text"> </label>
        <label> Password <input name="password" type="text"> </label>
        <button>Submit</button></br></br>
    </div>
</form>
</html>